
@media (min-width: 375px) {

  .header {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .trainers .carousel {
    margin-bottom: 40px;
  }

  .header .col-md-6:nth-child(3) {
    z-index: 10;
  }

  .content {
    background: url("../images/bg-content.webp") no-repeat;
    background-size: cover;
  }

  .header .container-img {
    display: block;
    position: relative;
    top: 30%;
    right: 15%;
    transform: scale(1.5);
    padding-bottom: 100%;
  }

  .header-logo {
    justify-content: flex-start;
  }

  .header-callback {
    justify-content: flex-end;
  }

  .logo-text {
    padding-left: 65px;
  }

  .pilot-training__item {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  footer .row {
    align-items: center;
  }

  .footer-logo, .footer-callback {
    margin-bottom: 0;
  }
}

@media (min-width: 991px) {

  .photo .img-container:hover .img-overlay {
    opacity: 1;
    z-index: 5;
    background-color: rgba(255, 166, 36, 0.7) !important;
    transition: 0.3s;
  }

  .map__img img {
    filter: hue-rotate(250deg);
  }

  .form-tour {
    margin-bottom: 0;
  }

  .imgClick.activate {
    width: calc(200% + 16px);
  }

  .imgClickTop.activate {
    height: calc(200% + 16px);
    transform: translateY(calc(-50% - 8px));
  }

  .imgClickRight.activate {
    width: calc(200% + 16px);
    transform: translateX(calc(-50% - 8px));
  }

  .imgClickBottom.activate {
    height: calc(200% + 16px);
  }

  .header .container-img {
    top: 10%;
    right: 20%;
    transform: scale(1.1);
  }

  .subscription {
    margin-bottom: 100px;
  }

  .form-control_subscription {
    display: inline-block;
    width: 25%;
    + p {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  .gymnast-right-img {
    transform: scale(1.4);
    max-width: 100%;
    height: auto;
  }

  .header-callback a:hover {
    color: $yellow;
  }

  .header-callback .callback {
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    color: $yellow;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }

  .header-feature:after {
    left: 37%;
  }

  .header .form-group:not(:last-child) {
    display: none;
  }

  .header .free-workout {
    background: rgba(0, 0, 0, 0);
    font-size: inherit;
    color: $yellow;
    border: 2px solid;
    max-width: 70%;
  }

  .footer-callback .callback {
    background-color: $yellow;
    color: $white;
    &:hover {
      color: inherit;
    }
  }

  .photo h2 {
    margin-bottom: 0;
  }

  .trainers h2 {
    margin-bottom: 50px;
  }

}

@media (min-width: 1200px) {

  .free-workout {
    margin-bottom: 0;
  }

  .form-tour {
    display: flex;
    align-items: center;
  }

  .gymnast-right-img {
    max-width: 100%;
  }

  .form-tour-xl {
    display: flex;
    justify-content: space-between;
    .form-tour {
      margin-right: 0.625rem;
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .form-control-inner {
    right: -0.625rem;
  }

  .header-feature:after {
    left: 32%;
  }

  .pilot-training__item {
    display: flex;
    align-items: center;
  }

  footer .social {
    display: flex;
    li:first-child {
      margin-right: 15px;
    }
  }

}