.photo {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
  .col-lg-3 {
    padding: 8px;
  }
  h2 {
    @extend %customH2;
    color: $white;
    margin-bottom: 50px;
  }
  .col-lg-3:nth-of-type(n+8):nth-of-type(-n+11) .img-container{
    padding-bottom: 90%;
  }
  .col-lg-3:nth-of-type(n+8):nth-of-type(-n+11) .img-container .img-overlay {
    background: radial-gradient(circle, rgba(51, 51, 51, 0.8) 45px,
            rgba(0, 0, 0, 0.4) 46px, rgba(0, 0, 0, 0.4) 90px, rgba(255, 166, 36, 0.2) 91px);
  }
}

@supports (background: url("../images/bg-header.webp")){
  .photo {
    background: url("../images/bg-header.webp") no-repeat;
    background-size: cover;
  }
}