<section class="container-fluid comments-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="pre">Отзывы
                    наших посетителей</h2>
            </div>
            <div class="col">
                <div class="carousel">
                    <div class="carousel__i">
                            <img class="carousel__image" src="images/carousel-image.png" alt="">
                        <ul class="carousel__comments">
                            <li class="carousel__comment">
                                <div class="carousel__comment-name">Ксения Никитина</div>
                                <div class="carousel__comment-date">15.01.2020</div>
                                <div class="carousel__comment-text">
                                    <p>Наверное, лучший спортзал из всех, где я была:
                                        много места и воздуха, полный набор тренажеров.
                                        Всем рекомендую.</p>
                                </div>
                            </li>
                            <li class="carousel__comment carousel__comment_state_next">
                                <div class="carousel__comment-name">Роман Кузнецов</div>
                                <div class="carousel__comment-date">21.01.2020</div>
                                <div class="carousel__comment-text">
                                    <p>Наверное, лучший спортзал из всех, где я был:
                                        много места и воздуха, полный набор тренажеров.
                                        Стоимость абонементов при этом была дешевле,
                                        чем у конкурентов.
                                    </p>
                                </div>
                            </li>
                            <li class="carousel__comment">
                                <div class="carousel__comment-name">Виктор Дымов</div>
                                <div class="carousel__comment-date">17.12.2019</div>
                                <div class="carousel__comment-text">
                                    <p>Приходил с друзьями:
                                        много места и воздуха, полный набор тренажеров.
                                        Стоимость абонементов при этом была дешевле,
                                        чем у конкурентов.
                                    </p>
                                </div>
                            </li>
                            <li class="carousel__comment">
                                <div class="carousel__comment-name">Арсен Микоян</div>
                                <div class="carousel__comment-date">10.11.2019</div>
                                <div class="carousel__comment-text">
                                    <p>Недавно пришел впервые:
                                        Все понравилось.
                                        Стоимость абонементов при этом была дешевле,
                                        чем у конкурентов.
                                    </p>
                                </div>
                            </li>
                            <li class="carousel__comment">
                                <div class="carousel__comment-name">Артур Аганян</div>
                                <div class="carousel__comment-date">17.10.2019</div>
                                <div class="carousel__comment-text">
                                    <p>Приходил с друзьями:
                                        Все просто замечательно.
                                        Стоимость абонементов при этом была дешевле,
                                        чем у конкурентов.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <button class="carousel__button carousel__button_action_prev disabled" disabled><span>&#8701;</span></button>
                        <button class="carousel__button carousel__button_action_next"><span>&#8702;</span></button>
                    </div>
                </div>
                <div class="text-center"><button class="btn_comment">Оставить отзыв</button></div>
            </div>
        </div>
    </div>
</section>