<section class="container-fluid content">
    <div class="content-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-none d-md-block gymnast-left">
                    <img src="images/gymnast-left.png" alt="">
            </div>
            <div class="col-md-8">
                <h2 class="pre">
                    Профессиональное оснащение и комфорт
                </h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="about">
                            <input type="checkbox" id="Toggler-1" class="hidden-switch"/>
                            <label for="Toggler-1" class="hidden-ticker">
                                        <span class="toggler">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                            </svg>
                                        </span>
                            </label>
                            <span class="sport-icon">
                                        <span class="circle"></span>
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#barbell"></use>
                                        </svg>
                                    </span>
                            <h4>Тренажерный зал</h4>
                            <p class="description">Самый большой и оснащенный тренажерный зал в городе площадью 600кв.м</p>
                        </div>
                        <div class="about">
                            <input type="checkbox" id="Toggler-2" class="hidden-switch"/>
                            <label for="Toggler-2" class="hidden-ticker">
                                        <span class="toggler">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                            </svg>
                                        </span>
                            </label>
                            <span class="sport-icon">
                                        <span class="circle"></span>
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#woman"></use>
                                        </svg>
                                    </span>
                            <h4>Женские направления</h4>
                            <p class="description">Отдельные программы для женщин и профессиональные тренеры</p>
                        </div>
                        <div class="about">
                            <input type="checkbox" id="Toggler-3" class="hidden-switch"/>
                            <label for="Toggler-3" class="hidden-ticker">
                                        <span class="toggler">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                            </svg>
                                        </span>
                            </label>
                            <span class="sport-icon">
                                            <span class="circle"></span>
                                                <svg>
                                                    <use xlink:href="images/svg/sprite.symbol.svg#athlete"></use>
                                                </svg>
                                        </span>
                            <h4>Обширная кардиозона</h4>
                            <p class="description">Не стойте в очередях на беговую дорожку. У нас большое к-во тренажеров</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about">
                            <input type="checkbox" id="Toggler-4" class="hidden-switch"/>
                            <label for="Toggler-4" class="hidden-ticker">
                                        <span class="toggler">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                            </svg>
                                        </span>
                            </label>
                            <span class="sport-icon">
                                        <span class="circle"></span>
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#wrestling"></use>
                                        </svg>
                                    </span>
                            <h4>Профессиональный ринг</h4>
                            <p class="description">
                                Занимайтесь не только фитнесом!
                                В нашем зале есть профессиональная зона единоборств.
                            </p>
                        </div>
                        <div class="about">
                            <input type="checkbox" id="Toggler-5" class="hidden-switch"/>
                            <label for="Toggler-5" class="hidden-ticker">
                                        <span class="toggler">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                            </svg>
                                        </span>
                            </label>
                            <span class="sport-icon">
                                        <span class="circle"></span>
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#medal"></use>
                                            </svg>
                                    </span>
                            <h4>Проведение турниров</h4>
                            <p class="description">
                                В нашем клубе проводятся чемпионаты
                                России и Европы по пауэрлифтингу.
                            </p>
                        </div>
                        <div class="about">
                            <input type="checkbox" id="Toggler-6" class="hidden-switch"/>
                            <label for="Toggler-6" class="hidden-ticker">
                                        <span class="toggler">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                            </svg>
                                        </span>
                            </label>
                            <span class="sport-icon">
                                        <span class="circle"></span>
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#bear"></use>
                                            </svg>
                                    </span>
                            <h4>Детские направления</h4>
                            <p class="description">
                                Присутствуют спортивные программы для детей разного возраста
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md pilot-training">
                    <ul class="pilot-training__item">
                        <li><h3>Запишитесь на бесплатную пробную тренировку</h3></li>
                        <li>
                            <div class="form">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="Записаться">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>