<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 header-feature">
                <ul class="footer-logo">
                    <li class="logo">
                        <a href="#"><span class="logo__item">L<span>O</span>VE</span>FIT</a>
                    </li>
                    <li class="logo-text">
                        <div><p>На этом месте</p><p>заголовок сайта</p></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-4 order-xl-12">
                <ul class="footer-callback">
                    <li>
                        <a href="tel:88005553354">8 (800) 555-33-54</a>
                    </li>
                    <li>
                        <a class="callback" href="#">Обратный звонок</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-4">
                <div>
                    <ul class="social">
                        <li>Мы в социальных сетях:</li>
                        <li>
                            <a href="https://vk.com/">
                                        <span class="social-svg">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#vk"></use>
                                            </svg>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/">
                                        <span class="social-svg">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#Facebook"></use>
                                            </svg>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/">
                                        <span class="social-svg">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#instagram"></use>
                                            </svg>
                                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>