<header class="container-fluid header">
    <div class="top-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 header-feature">
                <ul class="header-logo">
                    <li class="logo"><span class="logo__item">L<span>O</span>VE</span>FIT</li>
                    <li class="logo-text">
                        <div><p>На этом месте</p><p>заголовок сайта</p></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="header-callback">
                    <li>
                        <a href="tel:88005553354">8 (800) 555-33-54</a>
                    </li>
                    <li>
                        <a class="callback" href="#">Обратный звонок</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="header-bottom">
                    <h1 class="pre">Твой любимый
                        фитнес-клуб Ilovefit</h1>
                    <p>
                        Запишись на бесплатную тренировку и мы покажем тебе как все у нас устроено,
                        какие мы используем тренажеры и ты сам все испытаешь на себе.
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Ваше имя:">
                        <span class="form-control-inner">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#user"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="form-group">
                        <input id="tel" class="form-control" type="tel" placeholder="Телефон:">
                        <span class="form-control-inner">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#tel"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="form-group">
                        <input class="form-control  free-workout" type="text" value="Записаться на бесплатную тренировку">
                    </div>
                </form>
                <div>
                    <ul class="social">
                        <li>Мы в социальных сетях:</li>
                        <li>
                            <a href="https://vk.com/">
                                        <span class="social-svg">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#vk"></use>
                                            </svg>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/">
                                        <span class="social-svg">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#Facebook"></use>
                                            </svg>
                                        </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/">
                                        <span class="social-svg">
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#instagram"></use>
                                            </svg>
                                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-img">
                    <div class="gymnast-top">
                            <img class="img-gymnast-top" src="images/gymnast-top.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>