<section class="container-fluid photo">
    <div class="top-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <h2 class="pre">Фото нашего
                    фитнес-центра
                </h2>
            </div>
            <div class="col-lg-3">
                <div class="img-container imgClickTop">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="img-container imgClickTop">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="img-container  imgClickTop">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-11.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="img-container  imgClickTop">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="img-container  imgClickTop">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-5.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-3 d-lg-block">
                <div class="img-container imgClick">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-12.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="img-container imgClick">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-6.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="img-container imgClickRight">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/bg-header.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-3">
                <div class="img-container imgClickBottom">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-8.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="img-container imgClickBottom">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="img-container imgClickBottom">
                    <div class="img-overlay">
                                <span class="img-hover">
                                    <svg>
                                        <use xlink:href="images/svg/sprite.symbol.svg#plus_circle_icon"></use>
                                    </svg>
                                </span>
                    </div>
                    <div class="img-container__item">
                            <img class="img-inner" src="images/gym-10.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>