<section class="container-fluid quiz">
    <div class="container quiz-list">
        <div class="row">
            <div class="col-12">
                <h2>Собери свой абонемент</h2>
                <p>и получите расчет стоимости</p>
            </div>
        </div>
        <div class="row quiz-list__item quiz-list__item_step-1">
            <div class="col-12">
                <h4>В какое время Вы хотите ходить?</h4>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="2">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <label for="gym1">
                                <input type="radio" checked name="quiz" id="gym1">
                                <span>
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#check_icon"></use>
                                            </svg>
                                        </span>
                                    <img src="images/gym-1.jpg" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="period">
                        <p>Днем (с 7:00 до 17:00)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="2">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <label for="gym2">
                                <input type="radio" name="quiz" id="gym2">
                                <span>
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#check_icon"></use>
                                            </svg>
                                        </span>
                                    <img src="images/gym-2.jpg" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="period">
                        <p>Вечером (с 17:00 до 23:00)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="2">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <label for="gym3">
                                <input type="radio" name="quiz" id="gym3">
                                <span>
                                            <svg>
                                                <use xlink:href="images/svg/sprite.symbol.svg#check_icon"></use>
                                            </svg>
                                        </span>
                                    <img src="images/gym-3.jpg" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="period">
                        <p>В любое время (безлимит)</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="p-step-1">Выберите время</p>
                <p>Шаг: первый из 3</p>
            </div>
        </div>
        <div class="row quiz-list__item quiz-list__item_step-2" style="display:none;">
            <div class="col-12">
                <h4>На какой период нужен абонемент?</h4>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="3">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <img src="images/1-month.jpg" alt="">
                        </div>
                    </div>
                    <div class="period">
                        <p>1 мес.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="3">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <img src="images/3-months.jpg" alt="">
                        </div>
                    </div>
                    <div class="period">
                        <p>3 мес.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="3">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <img src="images/6-months.jpg" alt="">
                        </div>
                    </div>
                    <div class="period">
                        <p>6 мес.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="quiz-list__btn-back" data-step="1"><span>&#8701;</span>Назад</button>
                <p class="p-step-1">Выберите период</p>
                <p>Шаг: второй из 3</p>
            </div>
        </div>
        <div class="row quiz-list__item quiz-list__item_step-3" style="display:none;">
            <div class="col-12">
                <h4>Выберите подарок за прохождение теста!</h4>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="4">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <img src="images/discount.jpg" alt="">
                        </div>
                    </div>
                    <div class="period">
                        <p>скидка 10%</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="4">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <img src="images/doctor.jpg" alt="">
                        </div>
                    </div>
                    <div class="period">
                        <p>Бесплатная консультация врача-диетолога</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="quiz-list__btn" data-step="4">
                    <div class="quiz-container-img">
                        <div class="quiz-img">
                            <img src="images/present.jpg" alt="">
                        </div>
                    </div>
                    <div class="period">
                        <p>+1 месяц в подарок(при периоде не менее 6 мес.)</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="quiz-list__btn-back" data-step="2"><span>&#8701;</span>Назад</button>
                <p class="p-step-1">Выберите подарок</p>
                <p>Шаг: третий из 3</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <form action="mail.php" method="post" class="quiz-form  quiz-list__item_step-4">
                    <div class="form-title">Остался последний шаг</div>
                    <div class="form-subtitle">заполните форму</div>
                    <input type="text" name="name" placeholder="Ваше имя" required>
                    <input type="tel" name="phone" placeholder="Ваш телефон" required>
                    <button class="btn btn-form">Получить расчет</button>
                </form>
            </div>
        </div>
    </div>
</section>