<section class="container-fluid ready-subscriptions">
    <div class="top-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Готовые абонементы</h2>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img-container">
                            <img class="img-fluid" src="images/gym-3.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Каждый день</h3>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Посещение с 7:00 до 23:00</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Первичный инструктаж с тренером</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Доступ в клубы твоего города</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Запись на групповые тренировки</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Полотенце на каждое посещение</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Персональный шкаф</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Заморозка 30дней</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Парковка</p>
                        </div>
                        <p class="price">2000Р / мес.</p>
                        <button class="card-button">Рассчитать стоимость</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img-container">
                            <img class="img-fluid" src="images/gym-4.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Безлимит</h3>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Посещение с 7:00 до 23:00</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Первичный инструктаж с тренером</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Доступ в клубы твоего города</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Запись на групповые тренировки</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Полотенце на каждое посещение</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Персональный шкаф</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Заморозка 30дней</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Парковка</p>
                        </div>
                        <p class="price">2500Р / мес.</p>
                        <button class="card-button">Рассчитать стоимость</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img-container">
                            <img class="img-fluid" src="images/gym-6.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Вездеход</h3>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Посещение с 7:00 до 23:00</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Первичный инструктаж с тренером</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Доступ в клубы твоего города</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Запись на групповые тренировки</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Полотенце на каждое посещение</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Персональный шкаф</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Заморозка 30дней</p>
                        </div>
                        <div class="card-content-block">
                                    <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                            <p>Парковка</p>
                        </div>
                        <p class="price">3300Р / мес.</p>
                        <button class="card-button">Рассчитать стоимость</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>