<section class="container-fluid tour">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Запишитесь на бесплатный гостевой тур</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="tour__item">
                            Обширная кардио-зона
                            <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                        </p>
                        <p class="tour__item">
                            Зона единоборств
                            <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="tour__item">
                            Парковка
                            <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                        </p>
                        <p class="tour__item">
                            Профессиональное оборудование
                            <span class="check_circle_icon">
                                        <svg>
                                            <use xlink:href="images/svg/sprite.symbol.svg#check_circle_icon"></use>
                                        </svg>
                                    </span>
                        </p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-12">
                        <form id="tour">
                            <div class="form-tour-xl">
                                <div class="form-tour">
                                    <input class="form-control" type="text" name="name" placeholder="Ваше имя:">
                                    <span class="form-control-inner">
                                                <svg>
                                                    <use xlink:href="images/svg/sprite.symbol.svg#user"></use>
                                                </svg>
                                            </span>
                                </div>
                                <div class="form-tour">
                                    <input class="form-control" type="tel" name="phone" placeholder="Телефон:">
                                    <span class="form-control-inner">
                                                <svg>
                                                    <use xlink:href="images/svg/sprite.symbol.svg#tel"></use>
                                                </svg>
                                            </span>
                                </div>
                                <div class="form-tour">
                                    <input class="form-control" type="number" min="1" max="4" name="number" placeholder="Количество гостей">
                                </div>
                            </div>
                            <div class="form-tour">
                                <input class="form-control  free-workout" type="submit" value="Записаться">
                                <p class="personal-data">Нажимая на кнопку "Записаться", я даю своё согласие на обработку
                                    <span class="personal-data__item">персональных данных</span>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 gymnast-right d-none d-lg-block">
                    <img class="img-inner" src="images/gymnast-right.png" alt="">
            </div>
        </div>
    </div>
</section>