<section class="container-fluid trainers">
    <div class="top-overlay"></div>
    <div class="overlayPopup"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Тренеры фитнес-центра</h2>
            </div>
            <div class="col">
                <div class="carousel">
                    <div class="carousel__item">
                                    <img src="images/trainer1.png" alt="">
                        <div class="carousel__caption">
                            <h3>Гудиева Алина</h3>
                            <p>Персональный тренер</p>
                            <p>Стаж: 5 лет</p>
                            <button class="js-open-modal" data-name="Гудиева Алина">Задать вопрос</button>
                            <a class="carousel__link" href="return false">Записаться к тренеру</a>
                        </div>
                    </div>
                    <div class="carousel__item">
                                    <img src="images/trainer2.jpg" alt="">
                        <div class="carousel__caption">
                            <h3>Акименко Данил</h3>
                            <p>Персональный тренер</p>
                            <p>Стаж: 5 лет</p>
                            <button class="js-open-modal" data-name="Акименко Данил">Задать вопрос</button>
                            <a class="carousel__link" href="#">Записаться к тренеру</a>
                        </div>
                    </div>
                    <div class="carousel__item">
                                    <img src="images/trainer3.jpg" alt="">
                        <div class="carousel__caption">
                            <h3>Маняков Влад</h3>
                            <p>Персональный тренер</p>
                            <p>Стаж: 5 лет</p>
                            <button class="js-open-modal" data-name="Маняков Влад">Задать вопрос</button>
                            <a class="carousel__link" href="#">Записаться к тренеру</a>
                        </div>
                    </div>
                    <div class="carousel__item">
                                    <img src="images/trainer4.jpg" alt="">
                        <div class="carousel__caption">
                            <h3>Широкова Елена</h3>
                            <p>Персональный тренер</p>
                            <p>Стаж: 7 лет</p>
                            <button class="js-open-modal" data-name="Широкова Елена">Задать вопрос</button>
                            <a class="carousel__link" href="#">Записаться к тренеру</a>
                        </div>
                    </div>
                    <div class="carousel__item">
                                    <img src="images/trainer5.jpg" alt="">
                        <div class="carousel__caption">
                            <h3>Сидоров Иван</h3>
                            <p>Персональный тренер</p>
                            <p>Стаж: 6 лет</p>
                            <button class="js-open-modal" data-name="Сидоров Иван">Задать вопрос</button>
                            <a class="carousel__link" href="#">Записаться к тренеру</a>
                        </div>
                    </div>
                </div>
                <div id="trainerPopup">
                    <span class="modal-close">&#10006</span>
                    <h3 class="title">Вопрос тренеру</h3>
                    <p class="subtitle">вася</p>
                    <input type="text" name="name" placeholder="Ваше имя" required>
                    <input type="tel" name="phone" placeholder="Ваш телефон" required>
                    <textarea name="message" placeholder="Вопрос"></textarea>
                    <button class="submit">отправить</button>
                </div>
            </div>
        </div>
    </div>
</section>